<%- include('partials/header') -%>
<section class="add-page">
<section class="side-img-add">
    <img src="/imgs/add-banner.png">
</section>
<main class="container main-add">
<!-- Add a Race -->
<div class="row form-div">
<form action="/race/createRace" method="POST" class="col s12">
    <div class="form-row race-entry">
      <label for="race" class="entry-label">Add a Race:</label>
      <div class="col-3 race-form">
        <span>Race:</span><input type="text" id="race" name="race" class="form-control">
      </div>
      <div class="col-3 race-form">
        Race Date:<input type="text" id="raceDate" name="raceDate" class="form-control">
      </div>
      <div class="col-3 race-form">
      <button type="submit" class="btn btn-primary btn-lg btn-goal" value="Upload">Submit</button>
    </div>
  </div>
  </form>
</div>
<div class="row form-div">
    <!-- Add a Goal -->
<form action="/goal/createGoal" method="POST" class="col s12">
    <div class="form-row race-entry">
          <label for="goal" class="entry-label">Add a Goal:</label>
          <div class="col-3 race-form">
            <input type="text" id="goal" name="goal" class="form-control">
        </div>
        <div class="col-3 race-form">
    <button type="submit" class="btn btn-primary btn-lg btn-goal" value="Upload">Submit</button>
    </div></div>
  </form>
</div>
<div class="row form-div">
<h3>Add A Journal Entry</h3>
</div>
<div class="row form-div">
    <form action="/entries/add" enctype="multipart/form-data" method="POST" class="col s12">
        <div class="row">
            <div class="input-field form-div">
                <label for="title"><h5>Title</h5></label>
                <input type="text" id="title" name="title" class="form-control">
                
            </div>
        </div>

        <div class="row form-div">
            <div class="input-field">
                <label for="status"><h5>Privacy</h5></label>
                 <select id="status" name="status" class="form-control">
                   <option value="public" selected>Public</option>
                    <option value="private">Private</option>
                </select>
            </div>
            <div class="row">
                <div class="input-field form-div">
                    <label for="status"><h5>Run Type</h5></label>
                     <select id="runType" name="runType" class="form-control">
                        <option value="Recovery" selected>Recovery</option>
                        <option value="Base Run">Base Run</option>
                        <option value="Long Run" selected>Long Run</option>
                        <option value="Tempo Runn">Tempo Run</option>
                        <option value="Fartlek" selected>Fartlek</option>
                        <option value="Speed Workout">Speed Workout</option>
                        <option value="Hill Repeats">Hill Repeats</option>
                        <option value="Walk/Run" selected>'Walk/Run'</option>
                        <option value="Intervals">Intervals</option>
                        <option value="Race">Race</option>
                    </select>
                </div>
        <div class="column run-stats">
        <div class="row">
            <div class="input-field form-div">
                <label for="duration"><h5>Duration</h5></label>
                 <input type="text" id="duration" name="duration" class="form-control duration-width">
                        
            </div>
        </div>
        <div class="row">
            <div class="input-field form-div">
                <label for="distance"><h5>Distance</h5></label>
                 <input type="text" id="distance" name="distance" class="form-control distance-width">
                        
            </div>
        </div>
    </div>
        <div class="row form-div">
            <div class="input-field">
                <h5>How was your run? How did you feel physically? What did you think about while running?How did you feel emotionally while running?</h5>
                <textarea id="body" name="body" class="form-control input-box"></textarea>
            </div>
        </div>
        <div class="row form-div">
            <div class="input-field">
                <h5>Additional Notes (Clothing, Weather, etc.)</h5>
                <textarea id="thoughts" name="thoughts" class="form-control input-box"></textarea>
            </div>
        </div>
    <section class="form-row btn-row">
          <button type="submit" class="col-3 btn btn-primary btn-lg index-btn" value="Upload">Submit</button>
    </form>
    <div>
        <a href="/dashboard" class="col-3 btn btn-primary btn-lg index-btn">Cancel</a>
    </div>
</div>
<div class="space"></div>
</main>
</section>
<%- include('partials/footer') -%>