<%- include('partials/header') -%>
<section class="container">
<h3>Add A Journal Entry</h3>
<div class="row">
    <form action="/entries/add" method="POST" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title">
                <label for="title">Title</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                 <select id="status" name="status">
                   <option value="public" selected>Public</option>
                    <option value="private">Private</option>
                </select>
                
                <label for="status">Status</label>

            </div>
            <div class="row">
                <div class="input-field">
                     <select id="runType" name="runType">
                        <option value="Recovery" selected>Recovery</option>
                        <option value="Base Run">Base Run</option>
                        <option value="Long Run" selected>Long Run</option>
                        <option value="Tempo Runn">Tempo Run</option>
                        <option value="Fartlek" selected>Fartlek</option>
                        <option value="Speed Workout">Speed Workout</option>
                        <option value="Hill Repeats">Hill Repeats</option>
                        <option value="Walk/Run" selected>'Walk/Run'</option>
                        <option value="Intervals">Intervals</option>
                        <option value="Race">Race</option>
                    </select>
                </div>
        <div class="row">
            <div class="input-field">
                 <select id="completed" name="completed">
                   <option value="false" selected>Uncompleted</option>
                    <option value="true">Completed</option>
                </select>
                
                <label for="status">Status</label>

            </div>
        </div>
        
                
                <label for="status">Status</label>

            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <h5>How was your run? How did you feel physically?</h5>
                <textarea id="body" name="body"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <h5>What did you think about while running?</h5>
                <textarea id="thoughts" name="thoughts"></textarea>
            </div>
        </div>
        <div class="input-field">
            <h5>How did you feel emotionally while running?</h5>
            <textarea id="emotions" name="emotions"></textarea>
        </div>
    </div>

        <div class="row">
            <button type="submit" class="btn btn-dark add-btn" value="Upload">Submit</button>
            <a href="/dashboard" class="btn btn-dark add-btn">Cancel</a>
        </div>
    </form>
</div>
</section>
<%- include('partials/footer') -%>