<%- include('partials/header') -%>
<section class="container">
<h3>Add A Journal Entry</h3>
<div class="row">
    <form action="/entries/add" enctype="multipart/form-data" method="POST" class="col s12">
        <div class="row">
            <div class="input-field">
                <label for="title">Title</label>
                <input type="text" id="title" name="title" class="form-control">
                
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <label for="status">Privacy</label>
                 <select id="status" name="status" class="form-control">
                   <option value="public" selected>Public</option>
                    <option value="private">Private</option>
                </select>
            </div>
            <div class="row">
                <div class="input-field">
                    <label for="status">Run Type</label>
                     <select id="runType" name="runType" class="form-control">
                        <option value="Recovery" selected>Recovery</option>
                        <option value="Base Run">Base Run</option>
                        <option value="Long Run" selected>Long Run</option>
                        <option value="Tempo Runn">Tempo Run</option>
                        <option value="Fartlek" selected>Fartlek</option>
                        <option value="Speed Workout">Speed Workout</option>
                        <option value="Hill Repeats">Hill Repeats</option>
                        <option value="Walk/Run" selected>'Walk/Run'</option>
                        <option value="Intervals">Intervals</option>
                        <option value="Race">Race</option>
                    </select>
                </div>
        
        <div class="row">
            <div class="input-field">
                <h5>How was your run? How did you feel physically?</h5>
                <textarea id="body" name="body"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <h5>What did you think about while running?</h5>
                <textarea id="thoughts" name="thoughts"></textarea>
            </div>
        </div>
        <div class="input-field">
            <h5>How did you feel emotionally while running?</h5>
            <textarea id="emotions" name="emotions"></textarea>
        </div>
        <!-- Holding off on images for now. Will allow them to be added eventually. Leaving code for later. -->
        <!--
        <div class="mb-3">
            <label for="imgUpload" class="form-label">Image</label>
            <input type="file" class="form-control" id="imageUpload" name="file">
          </div>
    -->
          <button type="submit" class="col-3 btn btn-primary btn-lg index-btn" value="Upload">Submit</button>
    </form>
    <div>
        <a href="/dashboard" class="col-3 btn btn-primary btn-lg index-btn">Cancel</a>
    </div>
</div>

</section>

<%- include('partials/footer') -%>