<%- include('partials/header') -%>
<section class="container">
<h3>Add A Journal Entry</h3>
<div class="row">
    <form action="/goal/createGoal" method="POST" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="text" id="goal" name="goal">
                <label for="goal">goal</label>
            </div>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-dark add-btn" value="Upload">Submit</button>
            <a href="/dashboard" class="btn btn-dark add-btn">Cancel</a>
        </div>
    </form>
</div>
</section>
<%- include('partials/footer') -%>