<%- include('partials/header-login-index') -%>
<main class="intro-container">
<section class="intro-container-img">
    <img src="/imgs/sideimg.png">
</section>
<section class="container intro-container-text">
    <h1 class="intro-header">Write to Run Well</h1>
    <p class="intro">Write to Run is an online running journal, goal tracker and social community. You can post private or public journal entries about your run and keep track of your running goals and upcoming races. </p>
    
    
    <div class="row">
        <section class="col-6 mt-5">
          <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
          <div class="alert alert-danger"><%= el.msg %></div>
          <% }) %> <% } %> <% if (locals.messages.info) { %> <%
          messages.info.forEach( el => { %>
          <div class="alert alert-info"><%= el.msg %></div>
          <% }) %> <% } %>
          <form action="/login" method="POST">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"
                >Email address</label
              >
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                name="email"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
                name="password"
              />
            </div>
            <button type="submit" class="col-3 btn btn-primary btn-lg index-btn">Login</button>
          </form>
          <a href="/signup" class="col-3 btn btn-primary btn-lg index-btn"> Signup</a>
        </section>
      </div>
        
    </div>
</section>
</main>

<%- include('partials/footer') -%>