<%- include('partials/header-login-index') -%>
<main class="intro-container">
  <section class="container login-container-form">
  <img src="/imgs/logo.jpeg" class="logo">
    <div class="row">
      <section class="col-6 mt-5">
        <% if (locals.messages.errors) { %>
            <% messages.errors.forEach( el => { %>
                <div class="alert alert-danger"><%= el.msg %></div>
            <% }) %>    
        <% } %>
        <% if (locals.messages.info) { %>
            <% messages.info.forEach( el => { %>
                <div class="alert alert-info"><%= el.msg %></div>
            <% }) %>    
        <% } %>
        <form action="/signup" method="POST">
            <div class="mb-3">
                <label for="userName" class="form-label">User Name</label>
                <input type="text" class="form-control" id="userName" name="userName">
              </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
              <div id="emailHelp" class="form-text">We'll never intentionally share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" name="password">
            </div>
            <div class="mb-3">
                <label for="confirmPassword" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
              </div>
            <section class="terms">
            <div>
              By creating an account, you are agreeing to the Write to Run Well terms & conditions and Write to Run Well privacy policy, 
              including receipt of BreOutside LLC exclusive email offers and promotions. To manage your marketing choices please access the Choice section of the Write to Run Well Privacy Policy.
            </div>
            <div>
              <a href="/terms/terms.ejs">Terms & Conditions</a>
              <br>
              <a href="/terms/privacy.ejs">Privacy Policy</a>
            </div>
            </section>
            <button type="submit" class=" btn btn-primary btn-lg index-btn">Create an Account</button>
          </form>
    </section>
    </div>
    </section>
      <section class="sideBar-signup">
      </section>
    </main>

<%- include('partials/footer') -%>