/* Layout Styling */
.nav{
    display: flex;
    flex-direction: row;
}
.intro-container{
    display:flex;
    flex-direction: row;
}
.signup-container{
    display:flex;
    flex-direction: row;
}
.intro-container-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 70px 0px 150px;
}
.login-container-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 70px 0px 150px;
}
.nav-btn{
    margin: 10px 10px 10px 10px;
    color: white;
    font-size: 1.75rem;
}
.sideBar{
    background-image: url("/imgs/loginSideImage.png");
    height: 1050px;
    width: 900px;
}
.sideBar-signup{
    background-image: url("/imgs/signupImg.png");
    height: 1050px;
    width: 900px;
}

/* General Styling */
a {
    text-decoration: none;
}
.nav-section{
    background-color: #076AE0;
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.5rem;
}
h3 {
    font-size: 3rem;
}
h4 {
    font-size: 2rem;
}
h5 {
    font-size: 2rem;
}
h6 {
    font-size: 2rem;
}
p{
    font-size: 1.5rem;
}
label{
    font-size: 2rem;
}
.index-btn{
    margin: 10px 0px 10px 0px;
}
.form-control{
    font-size: 1.75rem;
}
input{
    font-size: 1.5rem;
}
.logo{
    height: 200px;
    width: 200px;
}

