/* Layout Styling */
body{
    height: auto;
}
.space{
   height: 100px;
}
.nav{
    display: flex;
    flex-direction: row;
}
.intro-container{
    display:flex;
    flex-direction: row;
}
.signup-container{
    display:flex;
    flex-direction: row;
}
.intro-container-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 70px 0px 150px;
}
.login-container-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 70px 0px 150px;
}
.input-box{
    height: 300px;
}
.sideBar{
    background-image: url("/imgs/loginSideImage.png");
    height: 1050px;
    width: 900px;
}
.sideBar-signup{
    background-image: url("/imgs/signupImg.png");
    height: 1050px;
    width: 900px;
}
.display-encouragement{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.list-group-flush{
    display: flex;
    flex-direction: column;
    border: none;
    border-bottom: none;
    border-top: none;
}
.entries-layout{
    display: flex;
    flex-direction: row;    
}
.entries-main{
    border-right: 2px solid black;
    margin: 25px 0px 25px 25px;
    padding-right:30px;
}
.encouragement-section{
    margin: 25px 0px 25px 25px;
    padding-left:30px;
}
/* Buttons */
.nav-btn{
    margin: 10px 10px 10px 10px;
    color: white;
    font-size: 1.75rem;
    font-family: 'Source Sans Pro', sans-serif;
}
.index-btn{
    margin: 10px 0px 10px 0px;
}
.btn-encouragement-delete {
    margin-left: 10px;
 }
 .btn-goal{
    margin: 10px 0px 10px 0px;
 }
 
 /* Forms */
 .form-control{
    font-size: 1.75rem;
}
input{
    font-size: 1.5rem;
}
label{
    font-size: 2rem;
}
.form-div{
    margin-top: 25px;
    margin-bottom: 10px;
}
.race-entry{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.race-form{
    padding-left: 25px;
}
.form-label{
    font-size: 1.75rem;
}
.run-stats{
    display: flex;
    flex-direction: row;
}
.duration-width{
    width: 300px;
    margin-right: 25px;
}
.distance-width{
    width: 300px;
}

/* Images */
.logo{
    height: 200px;
    width: 200px;
    margin-top: 25px;
}
.img-size{
    height: 500px;
    width: auto;
}
.side-img-community{
    margin: 25px 25px 25px 25px;
}
.side-img-add{
    margin: 25px 25px 25px 25px;
}
.intro-container-img{
    width: 600px;
}
/* General Styling */
a {
    text-decoration: none;
}
.footer-link{
    text-decoration: none;
    color: white;
}
.nav-section{
    background-color: #076AE0;
}
h1 {
    font-size: 3.5rem;
}
h2 {
    font-size: 2.75rem;
}
h3 {
    font-size: 2.5rem;
}
h4 {
    font-size: 2rem;
}
h5 {
    font-size: 1.75rem;
}
h6 {
    font-size: 1.75rem;
}
p{
    font-size: 1.5rem;
}
li {
    list-style: none;
}
.add-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
