/* Layout Styling */
body{
    height: auto;
}
.space{
   height: 100px;
}
.nav{
    display: flex;
    flex-direction: row;
}
.intro-container{
    display:flex;
    flex-direction: row;
}
.signup-container{
    display:flex;
    flex-direction: row;
}
.intro-container-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 70px 0px 150px;
}
.login-container-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 70px 0px 150px;
}
.sideBar{
    background-image: url("/imgs/loginSideImage.png");
    height: 1050px;
    width: 900px;
}
.sideBar-signup{
    background-image: url("/imgs/signupImg.png");
    height: 1050px;
    width: 900px;
}
.display-encouragement{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.list-group-flush{
    display: flex;
    flex-direction: column;
    border: none;
    border-bottom: none;
    border-top: none;
}
/* Buttons */
.nav-btn{
    margin: 10px 10px 10px 10px;
    color: white;
    font-size: 1.75rem;
    font-family: 'Source Sans Pro', sans-serif;
}
.index-btn{
    margin: 10px 0px 10px 0px;
}
.btn-encouragement-delete {
    margin-left: 10px;
 }
 /* Forms */
 .form-control{
    font-size: 1.75rem;
}
input{
    font-size: 1.5rem;
}
label{
    font-size: 2rem;
}
/* Images */
.logo{
    height: 200px;
    width: 200px;
}
.img-size{
    height: 500px;
    width: auto;
}
/* General Styling */
a {
    text-decoration: none;
}
.nav-section{
    background-color: #076AE0;
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.5rem;
}
h3 {
    font-size: 3rem;
}
h4 {
    font-size: 2.5rem;
}
h5 {
    font-size: 2rem;
}
h6 {
    font-size: 2rem;
}
p{
    font-size: 1.5rem;
}
li {
    list-style: none;
}

